*{
    margin: 0px;
    padding: 0px;
}
#wrapper{
    width: 970px;
    margin: 0px;
    padding: 0px;
}
#pokemon{
    width: 660px;
    height: 900px;
    display: inline-block;
    vertical-align: top;
}
#pokemonBox{
    width: 200px;
    height: 400px;
    display: inline-block;
    padding: 20px;
    border: 30px solid red;
    vertical-align: top;
    position: fixed;
    margin-top: 100px;
}
.name{
    text-align: center;
}
#pokemonBox img{
    margin-left: 40px;
}